/*insert custom css below*/


body {
}

.heading {
  position: fixed;
}

.heading h1 {
}

.box1 {
    width: 400px;
    top: 100px;
    left: 50px;
    position: absolute;
    border-color: red;
}

.box2 {
   width: 400px;
    top: 100px;
    left: 500px;
    position: absolute;
    border-color: red;
}

.box3 {
   width: 400px;
    top: 100px;
    left: 950px;
    position: absolute;
    border-color: red;
}


.footer {
    position: fixed;
}
